@import "../Shared.scss";


.selector-button-container {
  display: grid;
  grid-gap: 5%;
  grid-template-columns: 40vw 40vw;
  justify-items: center;
  margin: 10px auto 10px;
}


@media (min-width: $breakpoint_tablet) {
  .search-input-group {
    border: dashed rgba(255, 0, 0, .2);
  }

  .selector-button-container {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 400px 400px;
    justify-items: center;
    margin: 10px auto 10px;
  }

}

.search-input-group {
  padding-top: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}