@import "Shared";

.image-gallery {
  min-height: 100vh;
  z-index: 100;
}


.gallery-image-name {
  position: absolute;
  height: fit-content;
  margin-top: 5px;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  display: flex;
  justify-content: center;


}

.gallery-image-name-inner {
  display: inline-block;
  line-height: initial;
  padding-left: 5px;
  padding-right: 5px;
  background-color: transparentize(#161515, 0.5);
  backdrop-filter: blur(3px);
  color: #76f30a;
  vertical-align: middle;
  height: 25px;
  text-align: center;
  font-size: medium;
  font-weight: bold;
}

.gallery-show-image-name {
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  justify-content: left;
  font-size: xx-large;
  margin-bottom: 10px;
}

.gallery-show-image-name button {
  width: 40px;
  height: 40px;
}

@media (min-width: $breakpoint_tablet) {
  .gallery-show-image-name {
    margin-left: 200px;
  }
}
